<!DOCTYPE html>
<html>

<head>

<!--    <link rel="stylesheet" href='/static/main.css' />-->
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />-->
    <title>Title</title>
</head>
<body>
    <h2> {{ filename }} </h2>
    <video width="640" height="480" controls>
        <source src="{{ url_for('static', filename=filename) }}" type="video/mp4">

        <track label="English" kind="subtitles" srclang="en" src="{{ url_for('static', filename='sub.vtt') }}" default>

<!--        <track label="English" kind="subtitles" srclang="en" src="/static/sub.vtt" default>-->

        Your browser does not support the video tag
    </video>
    <ul>

        {% if next_file %}
        <li>
            <a href="{{ url_for('watch', video_file=directory + '/' + next_file) }}"> next episode ({{ next_file }}) </a>
        </li>
        {% endif %}
        {% if previous_file %}
        <li>
            <a href="{{ url_for('watch', video_file=directory + '/' + previous_file) }}"> previous episode ({{ previous_file }})</a>
        </li>
        {% endif %}
    </ul>
</body>
</html>