<!DOCTYPE html>
<html>

<head>

    <title>Title</title>
</head>
<body>
    <h2> {{ filename }} </h2>
    <p>
    <a href="{{ url_for('browse', path=directory) }}"> .. </a>
    </p>
    <video width="640" height="480" controls autoplay id="player">
        <source src="{{ url_for('static', filename=filename) }}" type="video/mp4">

        Your browser does not support the video tag
    </video>

    {% if next_file %}
    <script type='text/javascript'>
        var files = {{ files|safe }}

        var intro_start = {{ intro_start|safe }}
        var intro_end = {{ intro_end|safe }}
        var current_file_index = {{ current_file_index }}
        // document.getElementById('player').addEventListener('ended',onVideoEnd,false);
        // document.getElementById('player').addEventListener('loadeddata',onVideoStart,false);
        player = document.getElementById('player')
        player.addEventListener('ended',load_next,false);
        var intervalId = setInterval(function() {
            if (player.currentTime > intro_start && player.currentTime < intro_end){
                player.currentTime = intro_end
            }
        }, 1000);
        function load_next(e) {
            current_file_index += 1;
            if (current_file_index > files.length){
                return
            }
            document.getElementById('player').src="{{ url_for('static', filename=directory + '/') }}" + files[current_file_index]
            fetch("{{ url_for('update_last_watched', video_file=directory) }}" + '/' + files[current_file_index], {
              method: "POST",
              headers: {'Content-Type': 'application/json'}
            }).then(res => {
              console.log("Request complete! response:", res);
            });
        }
    </script>
    {% endif %}
    <ul>

        {% if next_file %}
        <li>
            <a href="{{ url_for('watch', video_file=directory + '/' + next_file) }}"> next episode ({{ next_file }}) </a>
        </li>
        {% endif %}
        {% if previous_file %}
        <li>
            <a href="{{ url_for('watch', video_file=directory + '/' + previous_file) }}"> previous episode ({{ previous_file }})</a>
        </li>
        {% endif %}
    </ul>
</body>
</html>