<!DOCTYPE html>
<html>

<head>

<!--    <link rel="stylesheet" href='/static/main.css' />-->
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />-->
    <title>Title</title>
</head>
<body>
    <h2> {{ filename }} </h2>
    <p>
    <a href="{{ url_for('browse', path=directory) }}"> .. </a>
    </p>
    <video width="640" height="480" controls autoplay id="player">
        <source src="{{ url_for('static', filename=filename) }}" type="video/mp4">

<!--        <track label="English" kind="subtitles" srclang="en" src="{{ url_for('static', filename='sub.vtt') }}" default>-->

<!--        <track label="English" kind="subtitles" srclang="en" src="/static/sub.vtt" default>-->

        Your browser does not support the video tag
    </video>

    {% if next_file %}
    <script type='text/javascript'>
        document.getElementById('player').addEventListener('ended',onVideoEnd,false);
        document.getElementById('player').addEventListener('loadeddata',onVideoStart,false);
        function onVideoEnd(e) {
            // What you want to do after the event
            var is_fullscreen;
            if (document.fullscreenElement != null) {
                is_fullscreen = 'True'
            } else {
                is_fullscreen = 'False'
            }
            window.location.replace("{{ url_for('watch', video_file=directory + '/' + next_file) }}?fullscreen=" + is_fullscreen);
        }
        function onVideoStart(e) {
            const urlParams = new URLSearchParams(window.location.search);
            const is_fullscreen = urlParams.get('fullscreen');
            // window.alert(is_fullscreen)
            if (is_fullscreen){
                document.getElementById('player').requestFullscreen();
            }
        }
    </script>
    {% endif %}
    <ul>

        {% if next_file %}
        <li>
            <a href="{{ url_for('watch', video_file=directory + '/' + next_file) }}"> next episode ({{ next_file }}) </a>
        </li>
        {% endif %}
        {% if previous_file %}
        <li>
            <a href="{{ url_for('watch', video_file=directory + '/' + previous_file) }}"> previous episode ({{ previous_file }})</a>
        </li>
        {% endif %}
    </ul>
</body>
</html>